workspace_container:
    volumes:
      - /Users/YOURNAME/workspace/myapp:/home/dockerdev/app
      - /Users/YOURNAME/.composer:/home/dockerdev/.composer
      - /Users/YOURNAME/.ssh:/root/.ssh
      - /var/lib/mysq:/var/lib/mysql
