workspace_container:
    volumes:
      - /Users/stefanorg/lavoro/namaste:/home/dockerdev/app
      - /Users/stefanorg/.composer:/home/dockerdev/.composer
      - /Users/stefanorg/.ssh:/root/.ssh
      - /var/lib/mysq:/var/lib/mysql
